* {
    color: black;
    font-weight:600;
}

table, tr,th {
    border: 1px solid black;
}
section table{
    margin-bottom: 50px;
}
tbody tr td:first-child{
    border: 2px solid black;
}
table{
    border-radius: 3px;
}
.contest{
    background-color: orange;
    font-size: 20px;
    font-weight: 800;
}
tr {
    background-color: #19cdff;
    font-size: 20px;
    font-weight: 800;
}

tbody td:first-child {
    background-color: aquamarine;
    font-size: 20px;
    font-weight: 800;
}

.bloco {
    background-color: #ab9c56;
    width: 10px;
    height: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
}
section{
    margin-bottom: 100px;
}
