* {
    color: black;
    font-weight:600;
}

table, tr,th {
    border: 1px solid black;
}
section table:nth-child(2n + 2){
    margin-top: 150px;
    margin-bottom: 300px;
}
tbody tr td:first-child{
    border: 2px solid black;
}
table{
    border-radius: 3px;
    margin-bottom: 190px;
}
.contest{
    background-color: orange;
}
tr {
    background-color: #19cdff;
}

tbody td:first-child {
    background-color: aquamarine;
}

tbody td {
    background-color: #ab9c56;
    width: 10px;
    height: 10px;
    padding: 5px;
}
section{
    margin-bottom: 100px;
}
