table, td , th {
    border: 2px solid black;
    color: black;
}
table{
    border-radius: 10px;
}

th {
    padding: 5px 10px 5px 10px;
    background-color: #19cdff;
}

th:nth-child(1){
    border-radius: 10px 0px 0px 0px;
}
th:nth-child(14){
    border-radius: 0px 10px 0px 0px;
}
td {
    background-color: #ab9c56;
    
}
section{
    display: flex;
    gap: 10px;
}
